{% extends "base.html" %}

{% block navbar_search_form %}{% endblock %}

{% block main %}
<div class="text-center">
    <div class="row block1  smhmargin15">
        <img src="/static/img/logo.png" class="logo">
        <h1 class="jumbo">Your Extended Digital Team</h1>
        <p>
            At Digitamize we build smarter apps. Launch your idea in days or Hire a Full Stack Developer Now
        </p>
    </div>
    <hr>
    <div class="row block2  smhmargin15" id="hire_developer">
        <div class="col-md-3">
            <img src="/static/img/development.jpeg" class="img-thumbnail Vmargin30">
        </div>
        <div class="col-md-9">
            <h2>Hire Certified Developers</h2>
            <div>Cost Certainty - Fixed Quote</div>
            <div>Time Certainty - Daily Scrums & Weekly Project Reporting</div>
            <div>Outcome Certainty - Milestone Payments</div><br><br>
            <button class="btn btn-primary btn-lg">Hire A Developer Now</button>
        </div>
    </div>
    <hr>
    <div class="row block2  smhmargin15" id="launch_product">
        <div class="col-md-3">
            <img src="/static/img/idea.jpeg" class="img-thumbnail Vmargin30">
        </div>
        <div class="col-md-9">
            <h2>Launch a Product / App / Service</h2>
            <div>Starter - in 7 Days for $2k (1 App or Site)</div>        
            <div>Marketer - in 30 Days for $4k (Starter + PoC)</div>
            <div>Accelerator - in 60 Days for $6k (Marketer + MVP)</div>
            <div>Returner - in 120 Days for $10k (Accelerator + 2 Iterations)</div>
            <div>Timer - Fixed Cost Quote in Minutes, Time Bound, Assured Outcomes</div><br><br>
            <a href="/products" class="btn btn-primary btn-lg">Build your Idea Now</a>
        </div>
    </div>
    <hr>
    <div class="row block2  smhmargin15">
        <button class="btn btn-default btn-lg">Coming Soon</button>    
        <button class="btn btn-default btn-lg">Coming Soon</button>    
        <div style="height: 400px;"></div>
    </div>
</div>

{% endblock %}
